<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chatbot for Depressed People</title>
    <link rel="stylesheet" href="static\styles\style.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href=''><h2>CareBot</h2></a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#Creator">Creator</a></li>
                    <li><a href="#partners">Partners</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!--untuk home-->
        <section id="home">
            <img src="https://img.freepik.com/free-vector/cute-chatbot-greeting-people-isometric-icon-with-computer-various-objects-3d_1284-63055.jpg?size=338&ext=jpg&ga=GA1.2.2092618836.1669683747&semt=sph"/>
            <div class="kolom">
                <p class="deskripsi">Halo,Selamat datang di CareBot</p>
                <br></br>
                <h3>Temukan solusi dari permasalahan Anda melalui chatbot kami</h3>
                <p>Jangan ragu untuk memulai hal baru. Ayo,coba sekarang gratis!</p>
                <p><a href="chat" class="tbl-ungu">Mulai Curhat</a></p>
            </div>
        </section>

        <!--untuk about -->
        <section id="Creator">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">Creator</p>
                    <h2></h2>
                </div>

                <div class="about-team">
                    
                    <div class="gambar-team">
                        <img src="static\pictures\indra.jpeg"/>
                        <p>Wahyu Putra Indra</p>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <!--untuk partners-->
        <section id="partners">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">University</p>
                    <h2></h2>
                </div>

                <div class="partner-list">
                    <div class="logo-partner">
                        <img src="static\pictures\Logo USM.png"/>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2024. <b>CareBot</b> All Rights Reserved.
        </div>
    </div>

</body>
</html>